@model RepoNX.Kontakt
@{
    ViewBag.Title = "EditForm";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}


<div class="row">
    <div class="small-12 columns background">
        <h2>EditForm</h2>

        <form name="myForm" action="/Admin/aKontakt/EditResult/" enctype="multipart/form-data" method="post">
            Navn: <input id="Navn" type="text" name="Navn" value="@Model.Navn" />
            <br />
            Adresse: <input id="Adresse" type="text" name="Adresse" value="@Model.Adresse" />
            <br />
            Bynavn: <input id="Bynavn" type="text" name="Bynavn" value="@Model.Bynavn" />
            <br />
            PostNR: <input id="PostNR" type="number" name="PostNR" value="@Model.PostNR" />
            <br />
            Åbningstider: <input id="Tider" type="text" name="Tider" value="@Model.Tider" />
            <br />
            Email: <input id="Email" type="text" name="Email" value="@Model.Email" />
            <br />
            Billede: <img src="/Content/img/@Model.Billede" /><hr />
            <input id="Submit1" type="submit" value="Gem" class="button success" />
            @ViewBag.MSG<input id="Hidden1" type="hidden" name="ID" value="@Model.ID" />
            <input id="Hidden2" type="hidden" name="Billede" value="@Model.Billede" />
        </form>
    </div>
</div>